<div class="d-flex justify-content-center mb-4">
                 <div class="form-group col-md-4 ">
                    <%= radio_button_tag(:size, "s") %>
                    <%= label_tag(:size_s, "Size S") %>
                 </div>

                 <div class="form-group col-md-4">
                    <%= radio_button_tag(:size, "m") %>
                    <%= label_tag(:size_m, "Size M") %>
                 </div>

                <div class="form-group col-md-4">
                    <%= radio_button_tag(:size, "L") %>
                    <%= label_tag(:size_L, "Size L") %>
                 </div>
</div>