
<div class="pb-5">
  <h1 class="text-center pt-4 mb-4">ProFile</h1>
    <div class="card mx-auto mb-3" style="max-width: 1000px; min-height:500px">
        
            <div class="row card-body px-4">
                <div class="col-md-3">
                    <%= image_tag @product.image, width: 300 %>
                </div>
                <div class="col-md-4 offset-md-2">
                    <div class="card-body  ">
                        <b>SKU:</b><%= @product.sku %></p>
                        <b>Title:</b><%= @product.title %></p>
                        <b>Price:</b><%= @product.price %></p>
                        <b>Quantity:</b><%= @product.quantity %></p>
                        <b>category:</b><%= @product.category %></p>
                        <b>Size:</b>
                        <%= render 'size'%>
                        <%= text_area_tag(:text,"", :size => "30x5",placeholder: "note") %>
                    
                    <%= link_to "Cancel", products_path, class:"btn btn-success"%>
                    </div>
                
                </div>
            </div>
    </div>
</div>