
<div class="card mx-auto mb-3" style="max-width: 1000px; min-height:500px">
    <div class="row justify-content-md-center">
        <div class="col-md-3">
            <%= image_tag @product.image, width: 300 %>
        </div>
        <div class="col-md-4 offset-md-2">
            <div class="card-body  ">
                <b>SKU:</b><%= @product.sku %></p>
                <b>Title:</b><%= @product.title %></p>
                <b>Price:</b><%= @product.price %></p>
                <b>Quantity:</b><%= @product.quantity %></p>
                <b>category:</b><%= @product.category %></p>
                <b>Size:</b>
                 <div class="form-group col-md-4 ">
                    <%= radio_button_tag(:size, "s") %>
                    <%= label_tag(:size_s, "Size S") %>
                 </div>

                 <div class="form-group col-md4-4">
                    <%= radio_button_tag(:size, "m") %>
                    <%= label_tag(:size_m, "Size M") %>
                 </div>

                <div class="form-group col-md-4">
                    <%= radio_button_tag(:size, "L") %>
                    <%= label_tag(:size_L, "Size L") %>
                 </div>

                <%= text_area_tag(:text,"", :size => "40x5",placeholder: "note") %>
               
                         <%= link_to "Cancel", products_path, class:"btn btn-success"%>
            </div>
           
        </div>
    </div>
</div>